@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="DivUl">
    <ul class="nav-pills">

        <li class="nav-item"><a style="color: black;" class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
        <li class="nav-item"><a style="color: black;" class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
        <li class="nav-item"><a style="color: black;" class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>

        @if (hasExternalLogins)
        {
            <li id="external-logins"><a style="color: white;" id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
        }

        <!--
         <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
         <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
        -->

    </ul>
</div>

<style>

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: LightSteelBlue;
    }

    ul {
        list-style-type: none;
    }

    @@media screen and (max-width: 770px) {

        .DivUl {
            text-align: center;
        }

        ul li {
            display: inline-block;
        }

        ul{
            margin-left: -1rem;
        }
    
    }

</style>

